#   XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [1]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [2]:
document_tree = ET.parse( r'F:\Data Science\data_wrangling_xml\data\mondial_database_less.xml' )

In [4]:
for element in document_tree.iterfind('country'):
    print(element.attrib['car_code'])

AL
GR
MK
SRB
MNE
KOS
AND

In [55]:
arr

[['Tirana', '1987', '192000'],
 ['Tirana', '1990', '244153'],
 ['Tirana', '2011', '418495'],
 ['Shkodër', '1987', '62000'],
 ['Shkodër', '2011', '77075'],
 ['Durrës', '1987', '60000'],
 ['Durrës', '2011', '113249'],
 ['Vlorë', '1987', '56000'],
 ['Vlorë', '2011', '79513'],
 ['Elbasan', '1987', '53000'],
 ['Elbasan', '2011', '78703'],
 ['Korçë', '1987', '52000'],
 ['Korçë', '2011', '51152'],
 ['Kavala', '1981', '56705'],
 ['Kavala', '1991', '60187'],
 ['Kavala', '2001', '63774'],
 ['Kavala', '2011', '58790'],
 ['Athina', '1981', '885737'],
 ['Athina', '1991', '816556'],
 ['Athina', '2001', '789166'],
 ['Athina', '2011', '664046'],
 ['Peiraias', '1981', '196389'],
 ['Peiraias', '1991', '187399'],
 ['Peiraias', '2001', '181933'],
 ['Peiraias', '2011', '163688'],
 ['Peristeri', '1991', '141971'],
 ['Peristeri', '2001', '146743'],
 ['Peristeri', '2011', '139981'],
 ['Acharnes', '1991', '65035'],
 ['Acharnes', '2001', '82555'],
 ['Acharnes', '2011', '106943'],
 ['Patra', '1981', '142163'],
 ['Patra', '1991', '190463'],
 ['Patra', '2001', '210494'],
 ['Patra', '2011', '213984'],
 ['Kerkyra', '1991', '101236'],
 ['Kerkyra', '2001', '108652'],
 ['Kerkyra', '2011', '102071'],
 ['Ioannina', '1991', '92425'],
 ['Ioannina', '2001', '103101'],
 ['Ioannina', '2011', '112486'],
 ['Thessaloniki', '1981', '406413'],
 ['Thessaloniki', '1991', '424220'],
 ['Thessaloniki', '2001', '397156'],
 ['Thessaloniki', '2011', '325182'],
 ['Iraklio', '1981', '102398'],
 ['Iraklio', '1991', '146536'],
 ['Iraklio', '2001', '163115'],
 ['Iraklio', '2011', '173993'],
 ['Chania', '1991', '83712'],
 ['Chania', '2001', '98202'],
 ['Chania', '2011', '108642'],
 ['Rhodes', '1991', '96159'],
 ['Rhodes', '2001', '115334'],
 ['Rhodes', '2011', '115490'],
 ['Lamia', '2011', '75315'],
 ['Chalkida', '1991', '85573'],
 ['Chalkida', '2001', '92809'],
 ['Chalkida', '2011', '102223'],
 ['Larissa', '1981', '102426'],
 ['Larissa', '1991', '129429'],
 ['Larissa', '2001', '145981'],
 ['Larissa', '2011', '162591'],
 ['Volos', '1981', '71378'],
 ['Volos', '1991', '132917'],
 ['Volos', '2001', '142923'],
 ['Volos', '2011', '144449'],
 ['Karyes', '2014', '233'],
 ['Skopje', '2002', '506926'],
 ['Skopje', '2011', '514967'],
 ['Kumanovo', '2002', '105484'],
 ['Kumanovo', '2011', '107745'],
 ['Beograd', '1987', '1407073'],
 ['Beograd', '2002', '1576124'],
 ['Beograd', '2011', '1639121'],
 ['Novi Sad', '2002', '299294'],
 ['Novi Sad', '2011', '335701'],
 ['Niš', '2002', '250518'],
 ['Niš', '2011', '257867'],
 ['Podgorica', '2003', '136473'],
 ['Podgorica', '2011', '150977'],
 ['Prishtine', '1981', '148090'],
 ['Prishtine', '1991', '199654'],
 ['Prishtine', '2011', '198214'],
 ['Andorra la Vella', '1987', '15600'],
 ['Andorra la Vella', '2001', '20787'],
 ['Andorra la Vella', '2011', '22256']]

In [3]:
# print names of all countries
for child in document_tree.getroot():
    print (child.find('name').text)

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [25]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print ('* ' + element.find('name').text + ':',)
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print (capitals_string[:-2])

* Albania:
Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece:
Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia:
Skopje, Kumanovo
* Serbia:
Beograd, Novi Sad, Niš
* Montenegro:
Podgorica
* Kosovo:
Prishtine
* Andorra:
Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [4]:
document = ET.parse( r'F:\Data Science\data_wrangling_xml\data\mondial_database.xml' )

# 10 countries with the lowest infant mortality rates

## Creating an array with country name and infant mortality

In [5]:
import pandas as pd
import numpy as np

from xml.etree.ElementTree import QName
# print names of all countries and their cities
a=[]
for element in document.iterfind('country'):
    if element.find('infant_mortality') is None:
        a.append([element.find('name').text,''])
        continue
    a.append([element.find('name').text,element.find('infant_mortality').text])

## Changing array into Dataframe

In [48]:
a=pd.DataFrame(a)
a.columns=['name','val']

## changing datatype of val columns to numeric

In [49]:
a.val=a.val.apply(pd.to_numeric)

## Removing NaN from val

In [50]:
a=a[~np.isnan(a.val)]

## Getting last 10 record

In [51]:
a.sort_values('val').head(10)

               name   val
38           Monaco  1.81
98            Japan  2.13
117         Bermuda  2.48
36           Norway  2.48
106       Singapore  2.53
37           Sweden  2.60
10   Czech Republic  2.63
78        Hong Kong  2.73
79            Macao  3.13
44          Iceland  3.15

## 10 cities with the largest population

## Create an array with city name, year and population in that year

In [56]:
arr = []
for element in document.iterfind('country'):
    for subelement in element.getiterator('city'):
        for subsubelement in subelement.getiterator('population'):
            arr.append([subelement.find('name').text,subsubelement.attrib['year'],subsubelement.text])

## Create a Dataframe from array

In [64]:
pop_df=pd.DataFrame(arr)
pop_df.columns=['City','Year','Population']

##Change the datatype of Population column

In [66]:
pop_df.Population=pop_df.Population.apply(pd.to_numeric)

## Get the tp 10 populated cities

In [68]:
pop_df.sort_values('Population',ascending=False).head(10)

           City  Year  Population
3750   Shanghai  2010    22315474
3749   Shanghai  2000    15758892
2607   Istanbul  2012    13710512
4398      Delhi  2001    12877470
4303     Mumbai  2011    12442373
1546     Moskva  2013    11979529
4302     Mumbai  2001    11914398
3746    Beijing  2010    11716620
1545     Moskva  2010    11612885
8208  São Paulo  2010    11152344

# name and country of a) longest river, b) largest lake and c) airport at highest elevation

## Getting the river name, length and country name from the xml

In [27]:
river_len=[]
for element in document.iterfind('river'):
    if element.find('length') is None:
        continue
    river_len.append([element.find('name').text,element.find('length').text,element.attrib['country']])

In [28]:
river_len=pd.DataFrame(river_len)

## Getting the longest liver

In [29]:
river_len.columns=['name','length','country']
river_len.length=river_len.length.apply(pd.to_numeric)
river_len.sort_values('length',ascending=False).head(1)

         name  length   country
174  Amazonas  6448.0  CO BR PE

In [45]:
lake_len=[]
for element in document.iterfind('lake'):
    lake_len.append([element.find('name').text,element.find('latitude').text,element.attrib['country']])

In [48]:
lake_len=pd.DataFrame(lake_len)
lake_len.columns=['name','length','country']

In [49]:
lake_len.length=lake_len.length.apply(pd.to_numeric)
lake_len.sort_values('length',ascending=False).head(1)

            name  length country
44  Ozero Taimyr    74.5       R

In [6]:
airport=[]
for element in document.iterfind('airport'):
    airport.append([element.find('name').text,element.find('elevation').text,element.attrib['country']])

In [7]:
airport=pd.DataFrame(airport)

In [8]:
airport.columns=['name','elevation','country']

In [16]:
airport.dtypes

name         object
elevation    object
country      object
dtype: object

In [18]:
airport.elevation=airport.elevation.astype(float)

In [20]:
airport.sort_values('elevation', ascending=False).head()

                                       name  elevation country
80                             El Alto Intl     4063.0     BOL
219                           Lhasa-Gonggar     4005.0      CN
241                            Yushu Batang     3963.0      CN
813                                 Juliaca     3827.0      PE
815  Teniente Alejandro Velasco Astete Intl     3311.0      PE

ValueError: Buffer has wrong number of dimensions (expected 1, got 0)

In [63]:
type(airport.elevation)

pandas.core.series.Series

In [64]:
airport

                                      name elevation country
0                                    Herat       977     AFG
1                               Kabul Intl      1792     AFG
2                             Tirana Rinas        38      AL
3                     Cheikh Larbi Tebessi       811      DZ
4                            Batna Airport       822      DZ
5                                  Soummam         6      DZ
6                              Tamanrasset      1377      DZ
7                                   Biskra        88      DZ
8                     Mohamed Boudiaf Intl       691      DZ
9                        Ain Arnat Airport      1024      DZ
10                                Es Senia        90      DZ
11                                Noumerat       461      DZ
12                                  Annaba         5      DZ
13                       Houari Boumediene        25      DZ
14                                  Zenata       248      DZ
15                          Pago Pago Intl        10    AMSA
16                                 Lubango      1762     ANG
17                                 Cabinda        20     ANG
18                                Menongue      1363     ANG
19                   Luanda 4 De Fevereiro        74     ANG
20                                  Huambo      1703     ANG
21                               Wallblake        39     AXA
22                           V C Bird Intl        19      AG
23                                La Rioja       438      RA
24                                   Jujuy       920      RA
25                       Comandante Espora        75      RA
26              Teniente Benjamin Matienzo       456      RA
27                                San Luis       710      RA
28                     Santiago del Estero       200      RA
29                             Sauce Viejo        17      RA
...                                    ...       ...     ...
1285                             Samarkand       678     UZB
1286                  Port Vila Bauerfield        21      VU
1287            General Manuel Carlos Piar       144      YV
1288  General Jose Antonio Anzoategui Intl         8      YV
1289                       Casique Aramare        75      YV
1290                               Barinas       203      YV
1291                     Barquisimeto Intl       623      YV
1292                       La Chinita Intl        72      YV
1293                 Arturo Michelena Intl       432      YV
1294                               Maturin        68      YV
1295                    Simon Bolivar Intl        72      YV
1296                              Rach Gia         2      VN
1297                          Vinh Airport         7      VN
1298                       Tansonnhat Intl        10      VN
1299                           Noibai Intl        12      VN
1300          Cat Bi International Airport         2      VN
1301                       Tra Noc Airport         3      VN
1302                             Nha Trang         6      VN
1303                          Cyril E King         7    VIRG
1304                                Wallis        24    WAFU
1305                      Hassan I Airport        63     WSA
1306                            Sanaa Intl      2200      YE
1307                         Hodeidah Intl        13      YE
1308                             Taiz Intl      1475      YE
1309                             Aden Intl         2      YE
1310                           Livingstone      1007       Z
1311                                 Ndola      1270       Z
1312                           Lusaka Intl      1152       Z
1313                        J M Nkomo Intl      1329      ZW
1314                           Harare Intl      1490      ZW

[1315 rows x 3 columns]

In [50]:
con_name=[]
for element in document.iterfind('country'):
    con_name.append([element.attrib['car_code'],element.find('name').text])

In [51]:
con_name=pd.DataFrame(con_name)

In [52]:
con_name.columns=['code','name']

In [53]:
con_name[con_name.code=='R']

   code    name
23    R  Russia

In [52]:
arr = []
arr.append(['aa1', 'aa2','arr3'])

In [53]:
arr

[['aa1', 'aa2', 'arr3']]

In [50]:
arr = []
arr.append([])
arr[0].append('aa1')
arr[0].append('aa2')

arr

[['aa1', 'aa2']]

In [36]:
import pandas as pd